<%- include("header") -%>

<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non interdum nibh, vitae semper dui. Aenean a nibh egestas, elementum ipsum at, tempus tortor. Pellentesque sit amet nulla nec massa tincidunt ultrices ut sit amet ex. Fusce id faucibus dolor. Aenean rutrum odio vitae est condimentum, euismod mattis mi sagittis. Cras sit amet orci eu dolor porttitor feugiat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent enim magna, eleifend eu ex convallis, faucibus aliquet odio. Aliquam placerat neque non nisl commodo, quis fermentum ex efficitur.</p>

<%- include("footer") -%>